<!--
Matrikelnummern:

3333958
3880065
8701350
-->

{{define "select"}}
<div class="innerContainer">
    <div class="details">
        <form action="/ticketDelegate" mehtod="POST" style="display: inline">
            <input type="submit" value="Ticket Delegieren">
            <div style="display: inline">Delegieren an: </div>
            <select name="select">
            {{range .IDs}}
                <option value="{{.}}">
                {{.}}
                </option>
            {{end}}
            </select>
        </form>
    </div>
</div>
{{end}}