{{define "taken"}}
<html>
<body>

<div class="details">
    <div>

        <form action="/ticketDelegate" mehtod="POST" style="display: inline">
            <input type="submit" value="Ticket Delegieren">
            <div style="display:none"><input name="TicketID" type="Text" value="{{.Id}}"></input></div>
        </form>

        <form action="/ticketSubmit" mehtod="POST" style="display: inline">
            <input type="submit" value="Ticket Abgeben">
            <div style="display:none"><input name="TicketID" type="Text" value="{{.Id}}"></input></div>
        </form>

        {{template "select"}}

        <form action="/ticketClose" mehtod="POST" style="display: inline">
            <input type="submit" value="Ticket Schließen">
            <div style="display:none"><input name="TicketID" type="Text" value="{{.Id}}"></input></div>
        </form>

        <form action="/appendEntry" mehtod="POST" style="display: inline">
            <input type="submit" value="Kommentar Hinzufügen">
            <input type="checkbox" name="mail" value="mail"> Mail mit Kommentar an Ticketersteller senden<br>
            <div><textarea id="entryText" name="entryText" maxlength="1500" rows="20" cols="80" placeholder="Hier einen neuen Kommentar schreiben..." required style="resize: none;"></textarea></div>
            <div style="display:none"><input name="TicketID" type="Text" value="{{.Id}}"></input></div>
        </form>

        </div>

        <div>
            <h2>Ticket Nr. {{.Id}}</h2>
        </div>

        <div>
            <div>
                <div>Status: {{.Status}}</div>
                <div>Betreff: {{.Subject}}</div>
            </div>
            <p></p>
            <div>
            <p></p>
            <div>Kommentare:</div>
            <p></p>
            {{range .Entries}}
                <div>Datum: {{.Date}}</div>
                <div>Ersteller: {{.Creator}}</div>
                <div>Inhalt: {{.Content}}</div>
                <p></p>
                    {{end}}
            </div>
        </div>

</div>
</body>
</html>
{{end}}
