{{define "internal"}}
<html>
<head>
    <title>Ticket insight Page</title>
</head>
<body>

    <form action="/internal" mehtod="POST">
        <input type="submit" value="Zurück">
    </form>

    <div>
        <h2>Ticket insight Page<h2>
    </div>

    <div>
        <div>Id: {{.Id}}</div>
        <div>Subject: {{.Subject}}</div>
        <div>Status: {{.Status}}</div>
        <div>Editor: {{.EditorId}}</div>
        <div>Entries: {{.Entries}}</div>
    </div>

</body>
</html>
{{end}}