{{define "inner"}}
    <div>
        <form action="/internal/ticket/information/" method="POST">
        <input type="submit" value="Select">
        <h2 style="display: inline">Ticket Nr. {{.Id}}</h2>
        </form>
    </div>

    <div>
        <div>Subject: {{.Subject}}</div>
        <div>Status: {{.Status}}</div>
        <div>Editor: {{.EditorId}}</div>
    </div>

{{end}}